body {
  font-family: "Roboto";
  background: #70e1f5;
  background: -webkit-linear-gradient(to right, #ffd194, #70e1f5);
  background: linear-gradient(to right, #ffd194, #70e1f5);

}

h1 {
  text-transform: uppercase;
  background: #2980b9;
  color: white;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
  padding: 10px 20px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

span {
  background: #e74c3c;
  height: 40px;
  margin-right: 20px;
  text-align: center;
  color: white;
  display: inline-block;
  width: 0px;
  opacity: 0;
  transition: .3s linear;
}

li {
  background: white;
  height: 40px;
  line-height: 40px;
  color: #666;
}

li:hover span {
  width: 40px;
  opacity: 1;
}

li:nth-child(2n) {
  background: #f7f7f7;
}

input {
  font-size: 16px;
  background-color: #f7f7f7;
  width: 100%;
  padding: 13px 13px 13px 20px;
  box-sizing: border-box;
  color: #2980b9;
  border: 3px solid rgba(0, 0, 0, 0);
}

input:focus {
  background: white;
  border: 3px solid #2980b9;
  outline: none;
}

#container {
  border: 2px solid grey;
  margin: 100px auto;
  width: 360px;
  background: #f7f7f7;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.fa-plus {
  float: right;
}

.completed {
  color: gray;
  text-decoration: line-through;
}